<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html, charset=utf-8" name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Les petites annonces de Mimi et Manu</title>
    <link rel="stylesheet" href="../bundles/framework/css/petiteannonce.css">
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar" >
<div class="centre">
    <img SRC="../bundles/framework/images/logo_annonce.png"/>
    <br><br><br>
    Bienvenue sur le site des petites annonces entre particulier <b>avec les derniernières news faites par nos annonceurs de talent</b>!<br><br>
    <div>
        <div style="display:inline-block;vertical-align:top;width:18%;">
            <a href="?page=inscription"><input type="button" class="bouton" value="S'INSCRIRE"></a><br>
            <p style="text-align:left;">
                Vous avez besoin de passer un message pour organisé des rencontres ou vous recherché des nounous ou autre  !<br><br>
                <a href="?page=connexion"><u>j'ai déjà un identifiant</u></a>
            </p>
        </div>
        <div style="display:inline-block;vertical-align:top;">
            <br>&nbsp;&nbsp;&nbsp;&nbsp;ou&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div style="display:inline-block;vertical-align:top;width:18%;">
            <a href="?page=parcourir"><input type="button" class="bouton" value="PARCOURIR"></a><br>
            <p style="text-align:left;">
                Accedez à un large contenu de débats d'émissions, de documentaires en parcourant notre radiotech de podcast.
            </p>
        </div>
    </div>
</div>
<div class="clear"></div>
<footer class="footer">
    <div class="container">
    </div>
</footer>
<script type="text/javascript" src="../radiotech/admin/js/jquery-1.9.1.min.js"></script>
<!-- <script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>-->
<script src="../radiotech/admin/js/master.js"></script>
</body>
</html>

